--name {{ amq_broker_fqdn }}
--role {{ amq_broker_admin.role }}
--require-login
--user {{ amq_broker_admin.name }}
--password {{ amq_broker_admin.password }}
--host {{ ansible_facts.hostname }}
--http-host {{ amq_broker_http_host_bindings | string }}
--data {{ amq_broker_data_dir }}
--force
--verbose

{{ (amq_broker_paging) | ternary('--paging', '--blocking', omit) }}

{% if amq_broker_cluster %}
--clustered
--cluster-user {{ amq_broker_cluster_user }}
--cluster-password {{ amq_broker_cluster_password }}
--max-hops {{ amq_broker_cluster_maxhops }}
--message-load-balancing {{ amq_broker_cluster_load_balancing_policy }}
--failover-on-shutdown
{% endif %}

{% if not amq_broker_enable_destination_autocreate %}
--no-autocreate
{% endif %}

{% if amq_broker_queues | length > 0 %}
--queues {{ amq_broker_queues }}
{% endif %}

{% if amq_broker_is_replica %}
--slave
{% endif %}

{% if amq_broker_replication_enabled %}
--replicated
{% endif %}

{% if amq_broker_shared_store %}
--shared-store
{% endif %}

{% if amq_broker_disable_amqp_protocol %}
--no-amqp-acceptor
{% endif %}

{% if amq_broker_disable_hornetq_protocol %}
--no-hornetq-acceptor
{% endif %}

{% if amq_broker_disable_mqtt_protocol %}
--no-mqtt-acceptor
{% endif %}

{% if amq_broker_nio %}
--nio
{% endif %}

{% if amq_broker_aio %}
--aio
{% endif %}

{% if amq_broker_disable_stomp_protocol %}
--no-stomp-acceptor
{% endif %}

{% if amq_broker_tls
      and amq_broker_tls_keystore
      and amq_broker_tls_keystore_password %}
--ssl-key {{ amq_broker_tls_keystore_path }}
--ssl-key-password {{ amq_broker_tls_keystore_password }}
{% endif %}

{% if amq_broker_tls
      and amq_broker_tls_mutual_authentication
      and amq_broker_tls_truststore
      and amq_broker_tls_truststore_password %}
--ssl-trust {{ amq_broker_tls_truststore_path }}
--ssl-trust-password {{ amq_broker_tls_truststore_password }}
--use-client-auth
{% endif %}
