{{ ansible_managed | comment('xml') }}
<!-- AMQ declared addresses -->
<addresses xmlns="urn:activemq:core">
{% for address in amq_broker_addresses %}
<address name="{{ address.name }}">
{% if address.routing == "multicast" %}
  <multicast/>
{% elif address.routing == "anycast" %}
  <anycast>
{% for queue in address.queues %}
{% if queue.max_consumers is defined %}
{% set max_consumers = ' max-consumers="' + queue.max_consumers + '"' %}
{% else %}
{% set max_consumers = '' %}
{% endif %}
{% if queue.durable is defined %}
    <queue name="{{ queue.name }}{{ max_consumers }}">
      <durable>
        {%- if queue.durable -%}
          true
        {%- else -%}
          false
        {%- endif -%}
      </durable>
    </queue>
{% else %}
    <queue name="{{ queue.name }}{{ max_consumers }}"/>
{% endif %}
{% endfor %}
  </anycast>
{% else %}
  Error: Unknown routing {{ address.routing }} found by broker_addresses.xml.j2
{% endif %}
</address>
{% endfor %}
</addresses>
