<!-- Connector used to be announced through cluster connections and notifications -->
{% for connector in constructed_connectors %}
<connector name="{{ connector.name }}">{{ connector.value }}</connector>
{% endfor %}
